{% extends 'layout.html' %}
{% block content %}
 
{% if filename %}
    <div>
        <p> Your file is here : {{ our_url }}<p>
        <h5>Song : {{ filename }}</h5>
        <div >
        <audio class="audio" controls>
            <source src="{{ our_url }}" type="audio/mpeg">
        </audio><hr/>
 
        <p>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
            <a href="uploads/{{ filename }}" class="btn btn-info">Download</a>
            <a href="{{ url_for('upload_song') }} " class="btn btn-danger">Upload Another</a>
        </p>
 
        </div>
 
    </div>

{% else %}
<div class="form-audio">
    <h2>Upload Song</h2>
    <form action="{{ url_for('upload_song') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="button" multiple> <br/><br/>
        <input type="submit" value="Upload" class="btn btn-danger">
      </form>
</div>

{% endif %}

{% endblock %}